@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}

nav{
    font-family: 'Roboto Slab', serif;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.brand img{
    width: 44px;
}

.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url("5.jpg");
}

.songItemContainer{
    margin-top: 74px;
}

.bottom{
    bottom: 10px;
    background-color: black;
    color: white;
    height: 100px;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon{
    margin-top: 14px;
} 

.icon i{
    cursor: pointer;
}

#myProgress{
    width: 80vw;
    cursor: pointer;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: black;
    /* width: 150%; */
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
}

.timestamp{
    margin: 0 23px;
}

.songItemPlay{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}